<?xml version="1.0" encoding="utf-8" ?>
<!-- for NET.CORE Framework config name "testhost.dll.config" is required and "Copy to Output Directory" property has to be set to "always" -->
<configuration>
	<appSettings>
		<!-- app base settings -->
		<add key="AppBaseUrl" value="https://www.guru99.com/"/>
		<add key="WaitHelperTimeout" value="30" />

		<!-- browser settings -->
		<add key="Browser" value="Chrome" />
		<add key="Headless" value="false" />
	
	</appSettings>
</configuration>